body {
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
}

figure {
    float: right;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
}